%h1
  Listing feeds
 
%table
  %tr
    %th
    %th
    %th
    %th
    %th
    %th
    %th

  - @feeds.each do |feed|
    %tr
      %td
        = feed.name
      %td
        = link_to 'Downloaden', :controller => 'products', :action => 'export', :id => feed.id, user_id: current_user.id, :format => :xml 
      %td
        = link_to 'Segmenteren', :action => 'filter', :id => feed.id