%h1= t('labels.statistics')

#graph

=debug(@combined_results)

:javascript
	var json_data; 
	$(document).ready(function() {
		$.getJSON('statistics.json?&variable=json_data', { 
			filter: json_data 
			}, function(json_data) {
				// When its empty 
				if(json_data.length == 0){
					alert('no data');
				} else {
					$(function() {
						
						Morris.Line({
							element: 'graph',
							smooth: true,
							data: json_data,
							xkey: 'y',
							ykeys: ['click', 'lead'],
							labels: ['Click', 'lead'],	
						});
					});
				}
		});
	});