$height: 30px;
$mainColor: #88be47;

$darkGray: #666;
$gray: #eee;
$lightGray: #f5f5f5;

@mixin inputs {
	background: #fff;
	border: 1px solid #ccc;
	color: $darkGray;
	line-height: $height - 2;
	padding: 0 5px;
	outline: none;

	&:hover {
		border: 1px solid $mainColor;
	}
	&:focus {
		border: 1px solid $mainColor;
		color: $darkGray;
	}
}

@mixin buttons {
	background: $mainColor;
	border: none;
	color: #fff;
	padding: 0 15px;
	height: $height;

	&:hover {
		background: darken($mainColor, 10%);
	}
}

.form-item {
	.label {
		padding: 5px;
	}

	.file {
		border: 1px solid #ccc;
		line-height: 30px;
		padding: 6px;
		position: relative;

		&:hover {
			border-color: $mainColor;

			button {
				background: darken($mainColor, 10%);
			}
		}

		button {
			position: absolute;
			right: -1px;
		}

		input {
			cursor: pointer;
		}
	}
}

input {
	@include inputs;	
}

.select-input {
	@include inputs;
	background: #fff url('../img/select-input.png') no-repeat right;
}
.select-input select {
	background: transparent;
	-webkit-appearance: none;
	border: 1px solid #fff;
	overflow: hidden;
}

input[type="submit"],
input[type="reset"],
button {
	@include buttons;
}

/*
body:not(#foo) {
	input[type="checkbox"] {
		opacity: 0;
		margin-left: 0;
		margin-right: 0;
		width: 0;
	}
	input[type="checkbox"] + span {
		margin: 0;
		padding-right: 15px;
		cursor: pointer;
		background: url('../img/checkbox.png') left center no-repeat;
	}
	input[type="checkbox"]:checked + span {
		background-image: url('../img/checkbox-checked.png');
	}
}
*/